<header>

  <article>
    <img class="icon" src="https://www.freepngimg.com/thumb/mario_bros/83393-mario-play-super-bros-boy-download-free-image.png" alt="">
  </article>
  <ul>
    <li> <a href="">Contato</a> </li>
    <li> <a href="">Sobre</a> </li>
    <li> <a class="conta" href="">Já Tem uma Conta?</a> </li>
  </ul>
</header>

<main>
  <aside>
    <div class="title">
      <span> <h1>Inscreva-se Já</h1> </span>
      <h1>Para o Campeonato CSS</h1>
    </div>

    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Modi voluptate facere assumenda facilis natus dolore non accusantium, minus doloremque aspernatur eveniet minima maiores. Enim est accusantium aliquid ipsa assumenda consequatur!</p>

    <form>
      <input type="text" placeholder="Nome">
      <input type="email" placeholder="Email">
      <input class="sub" type="submit" value="Enviar">
    </form>
  </aside>

  <article>
    <img class="imgCentral" width="200" src="https://th.bing.com/th/id/R.e61adcd49bd0f9d15f9bea8697535884?rik=iMdnRGDsY%2bEqww&riu=http%3a%2f%2fimages.wikia.com%2fwreckitralph%2fimages%2f1%2f1b%2fMario_-_New_Super_Mario_Bros_U.png&ehk=38Rp8khwD8KCeiQ6ldUk9adSPksHC6XBepEdJgeHv9M%3d&risl=1&pid=ImgRaw&r=0" alt="">
  </article>
</main>
<router-outlet></router-outlet>